@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}

#root {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  background-color: rgb(224, 219, 219);
}
